.info{
    background: url("./assets/books.png");
    background-size: cover;
    border-radius: 10px;
}
.info > div {
    background: rgba(0, 0, 0, 0.66);
    color: white;
    padding: 3rem;
    margin: 2rem;
    border-radius: 10px;
}
.dashboard-layout{
    width: 100vw;
    display: flex;
}
.dashboard-main{
    flex:3;
    display: flex;
    flex-direction: column;
}

aside{
    flex: 1;
    min-height: 100vh;
    background: rgba(184, 184, 5, 0.868);
}
.top{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem auto;
}
.top img{
    width: 50%;
    border-radius: 50%;
}

.bottom ul{
    padding: 0;
    list-style: none;

}

.bottom{
    padding-left: 15px;
}

.bottom ul .link{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #000;
}

.bottom ul .link:hover{
    background: rgba(0, 0, 0, 0.92);
    color: #fff;
    border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
}

.bottom ul .title{
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 0.5rem 0;
    text-decoration: underline;
}


.bottom ul .link li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.content{
    min-height: 10vh;
}

.add .add-top,.add-bottom{
    padding: 2rem;
    margin: 20px;
    box-shadow: rgba(4, 244, 188, 0.845);
}

.add-top{
    display: flex;
    justify-content: flex-start;
}
.add-top h1{
    color: black;
    font-size: 1.5rem;
}

.add-bottom{
    display: flex;
    justify-content:flex-end;
}
.add-bottom label{
    font-weight: 500;
}


.book-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}