.info{
    background: url("./assets/books.png");
    background-size: cover;
    border-radius: 10px;
}
.info > div {
    background: rgba(0, 0, 0, 0.66);
    color: white;
    padding: 3rem;
    margin: 2rem;
    border-radius: 10px;
}